.site-builder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: #fff;
}

.site-builder-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
